body{
    background-image: url('../media/beach-paradise.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    
}   


#mainContainer{
    margin-top:6%;
    height:317px;
    width:865px;
    border-radius: 3%;
    background-color:rgb(35, 120, 198,.5);
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:.5%;
}

#fiveDay{
    background-color:rgb(35, 120, 198,.5);
    height:240px;
    width:160px;
    margin:.5%;
    border-radius: 3%;
    color:#ffffff;
    text-align: center;
    
}

.dayOfWeekTemp{
    color:#ffffff;
    font-size: 60px;
    margin-top:-15px;
}

.currentLocation{
    padding-top:20px;
    padding-left:20px;
    font-size: 40px;
    color:yellow;
}

.dayAndDate{
    padding-top:20px;
    color: #ffffff;
    font-size:25px;
    display:flex;
    justify-content: center;
}
.form-control{
    margin-top:10%;
    width:245px;
    border-radius: 3.5%;
}

.currentTemp{
    margin-top: -19px;
    font-size: 140px;
    color:#ffffff;
    

}

.highLow{
    color:#ffffff;
    font-size: 18px;
    padding-left: 30%;


}